body {
    background-image: url("img/tlo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(105, 97, 97);
    color: white;
    text-align: center;
    opacity: 0.5;
}

#menu {
    display:block;

}

#blok {
    text-align: center;
    background-color: aliceblue;
    width: 70%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

